mixin accordionItem(props)
	-
		var question = props.question || ''
		var answer = props.answer || ''
		var baseClass = props.baseClass || 'accordion'
		var parent = props.parent || 'faq'

	li(class=`${parent}__item ${baseClass}__tab`)
		button(
			type="button"
			class=`${parent}__button ${baseClass}__button`
		)
			h3(class=`${parent}__title`) #{question}
			svg(
				class=`${parent}__icon`
				width="14"
				height="8"
			)
				use(href="img/images/sprite.svg#icon-arrow-down")

		div(class=`${baseClass}__content ${parent}__content`)
			p #{answer}
