mixin list(props = {})
  -
    var items = props.items || []

    var block = props.block || 'list'   // nav-list / sub-list
    var parent = props.parent || null   // header
    var parentElem = props.parentElem || block

    var parentClass = parent ? parent + '__' + parentElem : ''
    var classes = parentClass ? parentClass + ' ' + block : block

    var attrs = props.attrs || {}

  ul(class=classes)&attributes(attrs)
    each item in items
      li(class=block + '__item')
        if item.href
          a(class=block + '__link' href=item.href) #{item.text}
        else
          span(class=block + '__text') #{item.text}

//-+list({
    block: 'sub-list',
    parent: 'header',
    parentElem: 'sub-nav',
    items: [
      { text: 'Über CH', href: '#' },
      { text: 'Filialen & Öffnungszeiten', href: '#' },
      { text: 'Kontakt', href: '#' }
    ]
  })
  <ul class="header__sub-nav sub-list">
    <li class="sub-list__item">
      <a href="#" class="sub-list__link">Über CH</a>
    </li>
    <li class="sub-list__item">
      <a href="#" class="sub-list__link">Filialen & Öffnungszeiten</a>
    </li>
    <li class="sub-list__item">
      <a href="#" class="sub-list__link">Kontakt</a>
    </li>
  </ul>
