mixin list(props = {})
  -
    var items = props.items || []

    var block = props.block || 'list'   // nav-list / sub-list
    var parent = props.parent || null   // header
    var parentElem = props.parentElem || block

    var parentClass = parent ? parent + '__' + parentElem : ''
    var classes = parentClass ? parentClass + ' ' + block : block

    var attrs = props.attrs || {}

  ul(class=classes)&attributes(attrs)
    each item in items
      li(class=block + '__item')
        if item.href
          a(class=block + '__link' href=item.href) #{item.text}
        else
          span(class=block + '__text') #{item.text}

