mixin productCard(props)
  -
    var block = 'product-card'
    var mod = props.mod ? ` ${block}--${props.mod}` : ''
    var parent = props.parent ? ` ${props.parent}__product-card` : ''
    var className = block + mod + parent

    var title = props.title || ''
    var price = props.price || ''

  div(class=className)
    .product-card__image
      +picture({
        parent: 'product-card',
        mod: props.pictureMod,
        webp: props.webp,
        webp2x: props.webp2x,
        jpg: props.jpg,
        jpg2x: props.jpg2x,
        alt: props.alt,
        width: props.width || 270,
        height: props.height || 272
      })

    .product-card__description
      p.product-card__title #{props.title}
      p.product-card__price #{props.price}

    if props.button
      +button({
        text: props.button.text,
        mod: props.button.mod,
        parent: 'product-card',
        attrs: props.button.attrs
      })
